
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
    <title>Modifier le Mariage</title>
</head>
<body>
<div class="wrapper">
    {% include 'sidebar.html' %}
    <div class="main-panel">
        {% include 'header.html' %}
        <div class="container">
            <div class="page-inner">
                <div class="page-header">
                    <h3 class="fw-bold mb-3">Modifier le Mariage</h3>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <div class="card-title">Modifier le Mariage</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form method="POST" id="edit-marriage-form" action="{% url 'Marriage:edit_marriage' marriage.id %}" target="_blank">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label for="num_registry" class="col-lg-3 col-md-3 col-sm-4 text-end">Registre :</label>
                                        <div class="col-lg-2 col-md-4 col-sm-4">
                                            <input type="text" class="form-control" id="num_registry" name="num_registry" placeholder="Numéro" value="{{ marriage.num_registry }}" required>
                                            {% if form.num_registry.errors %}
                                                <ul class="text-danger">
                                                    {% for error in form.num_registry.errors %}
                                                        <li>{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                        <div class="col-lg-2 col-md-5 col-sm-4">
                                            <input type="date" class="form-control" id="registration_date" name="registration_date" placeholder="Date" value="{{ marriage.registration_date }}" required>
                                            {% if form.registry_part2.errors %}
                                                <ul class="text-danger">
                                                    {% for error in form.registry_part2.errors %}
                                                        <li>{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="date" class="col-lg-3 col-md-3 col-sm-4 text-end">Date du mariage :</label>
                                        <div class="col-lg-4 col-md-9 col-sm-8">
                                            <input type="date" class="form-control" id="date" name="date" value="{{ marriage.date |date:'Y-m-d' }}" required>
                                            {% if form.date.errors %}
                                                <ul class="text-danger">
                                                    {% for error in form.date.errors %}
                                                        <li>{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="hours" class="col-lg-3 col-md-3 col-sm-4 text-end">Heure du mariage :</label>
                                        <div class="col-lg-4 col-md-9 col-sm-8">
                                            <input type="time" class="form-control" id="hours" name="hours" value="{{ marriage.hours }}" required>
                                            {% if form.hours.errors %}
                                                <ul class="text-danger">
                                                    {% for error in form.hours.errors %}
                                                        <li>{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <!-- Informations du Marié -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="text-center">Informations du Marié</h4>
                                            <div class="form-group row">
                                                <label for="groom_first_name" class="col-lg-3 col-md-3 col-sm-4 text-end">Nom :</label>
                                                <div class="col-lg-9 col-md-9 col-sm-8">
                                                    <input type="text" class="form-control" id="groom_first_name" name="groom_first_name" value="{{ marriage.groom_first_name }}" required>
                                                    {% if form.groom_first_name.errors %}
                                                        <ul class="text-danger">
                                                            {% for error in form.groom_first_name.errors %}
                                                                <li>{{ error }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="groom_last_name" class="col-lg-3 col-md-3 col-sm-4 text-end">Prénom :</label>
                                                <div class="col-lg-9 col-md-9 col-sm-8">
                                                    <input type="text" class="form-control" id="groom_last_name" name="groom_last_name" value="{{ marriage.groom_last_name }}" required>
                                                    {% if form.groom_last_name.errors %}
                                                        <ul class="text-danger">
                                                            {% for error in form.groom_last_name.errors %}
                                                                <li>{{ error }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="groom_birthplace" class="col-lg-3 col-md-3 col-sm-4 text-end">Lieu de naissance :</label>
                                                <div class="col-lg-9 col-md-9 col-sm-8">
                                                    <input type="text" class="form-control" id="groom_birthplace" name="groom_birthplace" value="{{ marriage.groom_birthplace }}" required>
                                                    {% if form.groom_birthplace.errors %}
                                                        <ul class="text-danger">
                                                            {% for error in form.groom_birthplace.errors %}
                                                                <li>{{ error }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="groom_birthdate" class="col-lg-3 col-md-3 col-sm-4 text-end">Date de naissance :</label>
                                                <div class="col-lg-9 col-md-9 col-sm-8">
                                                    <input type="date" class="form-control" id="groom_birthdate" name="groom_birthdate" value="{{ marriage.groom_birthdate |date:'Y-m-d' }}" required>
                                                    {% if form.groom_birthdate.errors %}
                                                        <ul class="text-danger">
                                                            {% for error in form.groom_birthdate.errors %}
                                                                <li>{{ error }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="groom_father" class="col-lg-3 col-md-3 col-sm-4 text-end">Père :</label>
                                                <div class="col-lg-9 col-md-9 col-sm-8">
                                                    <input type="text" class="form-control" id="groom_father" name="groom_father" value="{{ marriage.groom_father }}" required>
                                                    {% if form.groom_father.errors %}
                                                        <ul class="text-danger">
                                                            {% for error in form.groom_father.errors %}
                                                                <li>{{ error }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="groom_mother" class="col-lg-3 col-md-3 col-sm-4 text-end">Mère :</label>
                                                <div class="col-lg-9 col-md-9 col-sm-8">
                                                    <input type="text" class="form-control" id="groom_mother" name="groom_mother" value="{{ marriage.groom_mother }}" required>
                                                    {% if form.groom_mother.errors %}
                                                        <ul class="text-danger">
                                                            {% for error in form.groom_mother.errors %}
                                                                <li>{{ error }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="groom_domicile" class="col-lg-3 col-md-3 col-sm-4 text-end">Domicile :</label>
                                                <div class="col-lg-9 col-md-9 col-sm-8">
                                                    <input type="text" class="form-control" id="groom_domicile" name="groom_domicile" value="{{ marriage.groom_domicile }}" required>
                                                    {% if form.groom_domicile.errors %}
                                                        <ul class="text-danger">
                                                            {% for error in form.groom_domicile.errors %}
                                                                <li>{{ error }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Informations de la Mariée -->
                                        <div class="col-md-6">
                                            <h4 class="text-center">Informations de la Mariée</h4>
                                            <div class="form-group row">
                                                <label for="bride_first_name" class="col-lg-3 col-md-3 col-sm-4 text-end">Nom :</label>
                                                <div class="col-lg-9 col-md-9 col-sm-8">
                                                    <input type="text" class="form-control" id="bride_first_name" name="bride_first_name" value="{{ marriage.bride_first_name }}" required>
                                                    {% if form.bride_first_name.errors %}
                                                        <ul class="text-danger">
                                                            {% for error in form.bride_first_name.errors %}
                                                                <li>{{ error }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="bride_last_name" class="col-lg-3 col-md-3 col-sm-4 text-end">Prénom :</label>
                                                <div class="col-lg-9 col-md-9 col-sm-8">
                                                    <input type="text" class="form-control" id="bride_last_name" name="bride_last_name" value="{{ marriage.bride_last_name }}" required>
                                                    {% if form.bride_last_name.errors %}
                                                        <ul class="text-danger">
                                                            {% for error in form.bride_last_name.errors %}
                                                                <li>{{ error }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="bride_birthplace" class="col-lg-3 col-md-3 col-sm-4 text-end">Lieu de naissance :</label>
                                                <div class="col-lg-9 col-md-9 col-sm-8">
                                                    <input type="text" class="form-control" id="bride_birthplace" name="bride_birthplace" value="{{ marriage.bride_birthplace }}" required>
                                                    {% if form.bride_birthplace.errors %}
                                                        <ul class="text-danger">
                                                            {% for error in form.bride_birthplace.errors %}
                                                                <li>{{ error }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="bride_birthdate" class="col-lg-3 col-md-3 col-sm-4 text-end">Date de naissance :</label>
                                                <div class="col-lg-9 col-md-9 col-sm-8">
                                                    <input type="date" class="form-control" id="bride_birthdate" name="bride_birthdate" value="{{ marriage.bride_birthdate |date:'Y-m-d' }}" required>
                                                    {% if form.bride_birthdate.errors %}
                                                        <ul class="text-danger">
                                                            {% for error in form.bride_birthdate.errors %}
                                                                <li>{{ error }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="bride_father" class="col-lg-3 col-md-3 col-sm-4 text-end">Père :</label>
                                                <div class="col-lg-9 col-md-9 col-sm-8">
                                                    <input type="text" class="form-control" id="bride_father" name="bride_father" value="{{ marriage.bride_father }}" required>
                                                    {% if form.bride_father.errors %}
                                                        <ul class="text-danger">
                                                            {% for error in form.bride_father.errors %}
                                                                <li>{{ error }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="bride_mother" class="col-lg-3 col-md-3 col-sm-4 text-end">Mère :</label>
                                                <div class="col-lg-9 col-md-9 col-sm-8">
                                                    <input type="text" class="form-control" id="bride_mother" name="bride_mother" value="{{ marriage.bride_mother }}" required>
                                                    {% if form.bride_mother.errors %}
                                                        <ul class="text-danger">
                                                            {% for error in form.bride_mother.errors %}
                                                                <li>{{ error }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="bride_domicile" class="col-lg-3 col-md-3 col-sm-4 text-end">Domicile :</label>
                                                <div class="col-lg-9 col-md-9 col-sm-8">
                                                    <input type="text" class="form-control" id="bride_domicile" name="bride_domicile" value="{{ marriage.bride_domicile }}" required>
                                                    {% if form.bride_domicile.errors %}
                                                        <ul class="text-danger">
                                                            {% for error in form.bride_domicile.errors %}
                                                                <li>{{ error }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Bouton de soumission -->
                                    <div class="card-footer">
                                        <div class="form-group row">
                                            <div class="col-lg-3 col-md-3 col-sm-12"></div>
                                            <div class="col-lg-4 col-md-9 col-sm-12 text-center">
                                                <button type="submit" id="edit-marriage-btn" class="btn btn-success">Enregistrer les modifications</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
    {% include 'custom.html' %}
</div>
{% include 'scripts.html' %}
</body>
<script>
    let today = new Date();
    let date = String(today.getDate()).padStart(2, '0');
    let month = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    let year = today.getFullYear();

    today = year + '-' + month + '-' + date;

    // Mettre le minimum de l'input des dates
    document.getElementById("date").max = today;
</script>
<script>

        let todays = new Date();
        let dd = 31;
        let mm = 12; // January is 0!
        let yyyy = todays.getFullYear() - 18;

        todays = yyyy + '-' + mm + '-' + dd;

        // Set the maximum date for the "date_de_naissance" input
        document.getElementById("groom_birthdate").max = todays;
        document.getElementById("bride_birthdate").max = todays;



</script>
<script>
     document.getElementById('edit-marriage-form').addEventListener('submit', function(event) {
        // Récupère le formulaire
        var form = this;

        // Récupère l'action du formulaire
        var formAction = form.getAttribute('action');

        // Récupère le token CSRF
        var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        // Effectue la soumission du formulaire via fetch API
        fetch(formAction, {
            method: form.method,
            body: new FormData(form),
            headers: {
                'X-CSRFToken': csrfToken
            }
        }).then(response => {
            if (response.ok) {
                // Réinitialise le formulaire après une soumission réussie
                form.reset();

                // Redirige vers la liste des extraits
                window.location.href = "{% url 'Marriage:marriage_list' %}";

                // Redirige vers la page d'impression
                window.open("{% url 'Marriage:print_marriage_certificate' marriage.id %}", '_blank');
            } else {
                // Gère les erreurs si nécessaire
                console.log('Erreur lors de la soumission du formulaire');
            }
        }).catch(error => {
            console.error('Erreur:', error);
        });
    });
</script>
</html>
