{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
    <title>Liste des actes de mariage</title>

</head>
<body>
<div class="wrapper">
    <!-- Sidebar -->
    {% include 'sidebar.html' %}
    <!-- End Sidebar -->


    <div class="main-panel">
        {% include 'header.html' %}

        <div class="container">
            <div class="page-inner">
                <div class="page-header">
                    <h3 class="fw-bold mb-3">Liste des Actes de Mariage</h3>
                    <ul class="breadcrumbs mb-3">
                        <li class="nav-home">
                            <a href="#">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="fas fa-angle-right"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Base</a>
                        </li>
                        <li class="separator">
                            <i class="fas fa-angle-right"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Liste des Actes</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <h4 class="card-title">Actes de Mariage</h4>
                                    <button class="btn btn-primary btn-round ms-auto"  id="addButton" >
                                        <i class="fa fa-plus"></i>
                                        Ajouter Acte de mariage
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">


                                <div class="table-responsive">
                                    <table id="add-row" class="display table table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>Registre</th>
                                            <th>Marié</th>
                                            <th>Mariée</th>
                                            <th style="width: 10%">Action</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th>Registre</th>
                                            <th>Marié</th>
                                            <th>Mariée</th>
                                            <th>Action</th>
                                        </tr>
                                        </tfoot>
                                        <tbody>
                                        {% for marriage in marriages %}
                                            <tr>
                                                <td>{{ marriage.registry.registry_id }} du {{ marriage.registry.creation_date | date:"d/m/Y"}} </td>
                                                <td>{{ marriage.groom_first_name | upper}} {{ marriage.groom_last_name | upper}}</td>
                                                <td>{{ marriage.bride_first_name | upper}} {{ marriage.bride_last_name | upper}}</td>

                                                <td>
                                                    <div class="form-button-action">
                                                        <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                                                            <a href="{% url 'Marriage:edit_marriage' marriage.id  %}">
                                                                <i class="fa fa-edit"></i>
                                                            </a>
                                                        </button>
                                                        <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
                                                            <a href="{% url 'Marriage:print_marriage_certificate' marriage.id  %}" target="_blank">
                                                                <i class="icon-printer"></i>
                                                            </a>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'footer.html' %}
    </div>

    <!-- Custom settings -->
    {% include 'custom.html' %}
    <!-- End Custom settings -->
</div>
<!--  All scripts  -->
{% include 'scripts.html' %}
</body>

<script>
    $(document).ready(function () {
        $('#add-row').DataTable({
            pageLength: 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addButton').click(function () {
            window.location.href = "{% url 'Marriage:create_marriage' %}";
        });
    });
</script>
