{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
    <title>Liste des certificats de non-remariage</title>

</head>
<body>
<div class="wrapper">
    <!-- Sidebar -->
    {% include 'sidebar.html' %}
    <!-- End Sidebar -->


    <div class="main-panel">
        {% include 'header.html' %}

        <div class="container">
            <div class="page-inner">
                <div class="page-header">
                    <h3 class="fw-bold mb-3">Liste des Certificats de Non-remariage</h3>
                    <ul class="breadcrumbs mb-3">
                        <li class="nav-home">
                            <a href="#">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="fas fa-angle-right"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Base</a>
                        </li>
                        <li class="separator">
                            <i class="fas fa-angle-right"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Liste des Certificats</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <h4 class="card-title">Certificats de Non-remariage</h4>
                                    <button class="btn btn-primary btn-round ms-auto" id="addButton">
                                        <i class="fa fa-plus"></i>
                                        Créer Certificat de Non-remariage
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">


                                <div class="table-responsive">
                                    <table id="add-row" class="display table table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Témoin 1</th>
                                            <th>Témoin 2</th>
                                            <th style="width: 10%">Action</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Témoin 1</th>
                                            <th>Témoin 2</th>
                                        </tr>
                                        </tfoot>
                                        <tbody>
                                        {% for non_remarriage in non_remarriages %}
                                            <tr>
                                                <td>{{ non_remarriage.name }}</td>
                                                <td>{{ non_remarriage.witness1 }} </td>
                                                <td>{{ non_remarriage.witness2 }}</td>

                                                <td>
                                                    <div class="form-button-action">
                                                        <button type="button" data-bs-toggle="tooltip" title=""
                                                                class="btn btn-link btn-primary btn-lg"
                                                                data-original-title="Edit Task">
                                                            <a href="{% url 'Non_remarriage:edit' non_remarriage.id %}">
                                                                <i class="fa fa-edit"></i>
                                                            </a>
                                                        </button>
                                                        <button type="button" data-bs-toggle="tooltip" title=""
                                                                class="btn btn-link btn-danger"
                                                                data-original-title="Remove">
                                                            <a href="{% url 'Non_remarriage:print' non_remarriage.id %}"
                                                               target="_blank">
                                                                <i class="icon-printer"></i>
                                                            </a>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'footer.html' %}
    </div>

    <!-- Custom settings -->
    {% include 'custom.html' %}
    <!-- End Custom settings -->
</div>
<!--  All scripts  -->
{% include 'scripts.html' %}
</body>

<script>
    $(document).ready(function () {
        $('#add-row').DataTable({
            pageLength: 5,
        });

        $('#addButton').click(function () {
            window.location.href = "{% url 'Non_remarriage:create' %}";
        });
    });
</script>

</html>
